.btn {
  margin: 10px;
  padding: 12px;
  background-color: white;
  font-size: 12pt;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
