.productDetail {
  display: flex;
  flex-direction: column; /* Altera para uma coluna em telas pequenas */
  padding: 10px;
  max-width: 100%; /* Garante que o conteúdo não ultrapasse a largura da tela */

  @media (min-width: 768px) {
    /* Estilos para telas maiores (a partir de 768px) */
    flex-direction: row; /* Volta para a exibição em linha */
  }
}

.productImage {
  flex: 1;
  margin-bottom: 10px; /* Adiciona margem inferior em todas as telas */

  img {
    border: 1px solid #ddd;
    max-height: 600px; /* Reduz a altura máxima para telas menores */
    object-fit: cover;
  }

  @media (min-width: 768px) {
    /* Estilos para telas maiores (a partir de 768px) */
    margin-bottom: 0; /* Remove a margem inferior em telas maiores */
  }
}

.quantityInput {
  padding: 10px;
  border: 1px solid #ddd;
}

.productInfo {
  flex: 1;
  padding-left: 20px;

  .productTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .productDescription {
    font-size: 1rem;
    margin: 0 0 10px 0; /* Remove a margem direita em telas menores */
  }

  .productPrice {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .addToCartButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px; /* Adiciona margem superior em todas as telas */

    &:hover {
      background-color: #0056b3;
    }
  }
}

.productAdditionalInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #f7f7f7;
  height: 100%;

  .additionalInfoItem {
    margin-bottom: 10px;

    strong {
      font-weight: bold;
    }

    span {
      margin-left: 5px;
      font-size: 0.9rem;
    }
  }
}
